
<div>
  <h2>Tareas Completadas</h2>

  <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="newTask()">
    Nuevo
  </button>
  <input type="text" [(ngModel)]="title" *ngIf="mostrarInputNewTask" placeholder="Nueva Tarea" (keyup.enter)="addTask()">

  <ul *ngIf="completedTasks.length > 0">
    <li *ngFor="let task of completedTasks">{{ task.title }}
      <button (click)="deleteTask(task)" mdbRipple [hidden]="!task.completed">Delete</button>

    </li>
  </ul>
  <p *ngIf="completedTasks.length === 0">No existen tareas completadas.</p>

  <h2>Tareas Incompletas</h2>
  <ul *ngIf="incompletedTasks.length > 0">
    <li *ngFor="let task of incompletedTasks">{{ task.title }}
      <button (click)="completeTask(task)" mdbRipple
      [hidden]="task.completed">Complete</button>

    </li>
  </ul>
  <p *ngIf="incompletedTasks.length === 0">No existen tareas incompletas.</p>
</div>

